body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(81,245,111);
  background: linear-gradient(90deg, rgba(81,245,111,1) 0%, rgba(68, 64, 64, 0.157) 0%);
}
